/Debug
/*.vtk
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user
*.txt
0.001/*
0.002/*
0.003/*
*.vtk
0.1/*
0.01/*
0.0001/*
0.002/*
0.003/*
0.003 1Mill/*
0.004/*
0.05/*
0.0005/*
dxInvestigation/*
omegaInvestigation/*